<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <img src="{{ site.baseurl }}/img/featured/Face.jpeg" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a target="_blank">Face Profile Completion</a>
        </div>
        <p>Objective: Given the profile of a person, can we generate the entire face structure</p>
        <p>Used Adversarial Networks to compete against each other, One to generate fake images (Generator), other to defy
it (Discriminator).</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic">
        <img src="{{ site.baseurl }}/img/featured/segmentation.png" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name"> 
          <a target="_blank">Real Time Semantic Segmentation</a>
        </div>
        <p>Used Ensemble version of Various Model Architecture such as U-Net, FCN, U-2-Net, etc.</p>
        <p>Trained on Cityscapes Dataset and deployed using Tensorflow.js</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
          <img src="{{ site.baseurl }}/img/featured/class.jpg" alt="">
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a target="_blank">Image Classification</a>
        </div>
        <p>Classified images from the CIFAR-10 dataset. The dataset consisted of airplanes, dogs, cats, and other objects.</p>
        <p>The project involed preprocessing the images, then training a convolutional neural network on all the samples.</p>
      </figcaption>
    </div>
  </div>
</section>
